*.DS_Store
npm-debug.log
.bower.json
*~

!lib/
lib/*
lib/.gitkeep

!pkg/
pkg/*
pkg/.gitkeep

!tmp/
tmp/*
tmp/.gitkeep

/bower_components
/node_modules
/typings

marketplace.js
marketplace.js.map
marketplace.min.js