<div name="wrapper">
  {{#if default}} <input> {{/if}}
  {{#if select}} <select></select> {{/if}}
  {{#if submit}} <button></button> {{/if}}
  <label></label>
  {{#if deleted}} <span name="deleted">deleted</span> {{/if}}
  <div name="description"></div>
</div>
